<div class="single_product">
  <div class="container">
    <div class="row">

      <!-- Images -->
      <div class="col-lg-2 order-lg-1 order-2">
        <ul class="image_list">
          {{#each product.hinhanhs}}
          <li data-image={{this.lienkethinhanh}}><img src={{this.lienkethinhanh}} alt=""></li>
          {{/each}}
        </ul>
      </div>

      <!-- Selected Image -->
      <div class="col-lg-5 order-lg-2 order-1">
        <div class="image_selected"><img src={{product.img_show.lienkethinhanh}} alt=""></div>
      </div>

      <!-- Description -->
      <div class="col-lg-5 order-3">
        <div class="product_description">
          <div class="product_category">{{product.danhmucs.tendanhmuc}}</div>
          <div class="product_name">{{product.tensanpham}}</div>
          <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
          <div class="product_text">
            <p>{{product.mota}}</p>
          </div>
          <div class="order_info d-flex flex-row">
            <form action="#">
              <div class="clearfix" style="z-index: 1000;">

                <!-- Product Quantity -->
                <div class="product_quantity clearfix">
                  <span>Số lượng: </span>
                  <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                  <div class="quantity_buttons">
                    <div id="quantity_inc_button" class="quantity_inc quantity_control"><i
                        class="fas fa-chevron-up"></i></div>
                    <div id="quantity_dec_button" class="quantity_dec quantity_control"><i
                        class="fas fa-chevron-down"></i></div>
                  </div>
                </div>

                <!-- Product Color -->
                <ul class="product_color">
                  <li>
                    <span>Color: </span>
                    <div class="color_mark_container">
                      <div id="selected_color" class="color_mark"></div>
                    </div>
                    <div class="color_dropdown_button"><i class="fas fa-chevron-down"></i></div>

                    <ul class="color_list">
                      <li>
                        <div class="color_mark" style="background: #999999;"></div>
                      </li>
                      <li>
                        <div class="color_mark" style="background: #b19c83;"></div>
                      </li>
                      <li>
                        <div class="color_mark" style="background: #000000;"></div>
                      </li>
                    </ul>
                  </li>
                </ul>

              </div>

              <div class="product_price">{{product.giasp}}</div>
              <div class="button_container">
                {{#if product.new}}
                <button type="button" class="button cart_button">Thêm vào giỏ</button>
                {{/if}}
                <div class="product_fav"><i class="fas fa-heart"></i></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row">
    <div class="col-10">
      {{#if comments.length}}
      {{#each comments}}
      <div>
        <div class="d-flex align-items-center">
          <div class="mr-3 text-center" style="width: 160px;">
            <img class="rounded-circle" src="{{this.khachhang.avatar}}" width="60" height="60" alt="" srcset="">
            <div class="mt-2" style="font-size: 13px; font-weight:500;">{{this.khachhang.tenkhachhang}}</div>
            <div class="text-secondary format-date" style="font-size: 12px; font-weight: 500;">{{this.ngaybinhluan}}</div>
          </div>
          <div class="w-100">
            <div class="auction-content-comment">
              <div class="text-secondary auction-content-comment-detail" style="font-weight: 500;">
                {{{this.noidungbinhluan}}}
              </div>
            </div>
            {{#if this.isMe}}
            <div class="d-flex justify-content-end">
              <a data-comment-id="{{this.MaBinhLuan}}" href="" class="mr-3 auction-delete-comment">Xóa</a>
              <a data-comment-id="{{this.MaBinhLuan}}" href="#" class="auction-update-comment">Sửa</a>
            </div>
            {{/if}}
          </div>
        </div>
        <hr>
      </div>
      {{/each}}
      {{else}}
      <div>Không có bìnhluận.</div>
      {{/if}}
    </div>
    {{#if user}}
    <div class="col-10">
      {{#if message}}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {{/if}}
      <form id="box-comment" action="/san-pham/{{product.masanpham}}/{{slugify product.tensanpham}}" method="POST">
        <input hidden="true" type="text" name="idProduct" value="{{product.masanpham}}">
        <input hidden="true" type="text" name="idUser" value="{{user.makhachhang}}">
        <input id="auction-input-idcomment" hidden="true" type="text" name="idComment">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Họ tên</label>
              <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Email</label>
              <input name="email" type="email" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="exampleInput">Số điện thoại</label>
              <input name="phonenumber" type="text" class="form-control" id="exampleInput">
            </div>
          </div>
        </div>
        <textarea id="editor1" name="editor1"></textarea>
        <div class="d-flex align-items-center justify-content-between mt-2">
          <button id="box-comment-submit" class="btn btn-primary float-right" type="submit">Trả lời</button>
        </div>
      </form>
    </div>
    {{/if}}
  </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/static/assets/css/product_styles.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/product_responsive.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/styles.css">
{{/section}}

{{#section 'script'}}
<script src="/static/assets/js/product_custom.js"></script>
{{#if user}}
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('editor1');
</script>
{{/if}}
<script type="text/javascript">
  var timeArray = $('.format-date');
  timeArray.each((index, element) => {

    var parseTime = new Date(parseInt($(element).text().toString()));
    var result = `${parseTime.getDate()}/${parseTime.getMonth() + 1}/${parseTime.getFullYear()}`
    $(element).text(result)
  })
</script>
{{/section}}
